* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: hsla(0, 0%, 0%, 0);
    font-family: "Montserrat";
    fint-size: 100%; 
    border: none;
  }
  body,
  ul,
  li,
  a {
    list-style: none;
    overflow-x: hidden;
    font-size: 1rem;
    color: #fff;
  }
    