@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*header, butões e logotipo Mobile */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent; /* Ajuste a cor se necessário */
  z-index: 10;
  position: relative;
  width: 100%;
}

/* Logotipo */
.logotipo {
  width: 8rem;
}

/* Menu */
.menu {
  display: flex;
}

.menu ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.menu a {
  margin-right: 1rem; /* Espaçamento entre os botões */
}

button {
  border-radius: 3.125rem;
  padding: 0.75rem 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Estilo do botão Entrar */
.contato {
  font-size: 1.37rem;
  border: 2px solid rgba(224, 19, 255, 1);
  font-weight: bold;
  border: 2px solid rgba(224, 19, 255, 1);
  color: #ffffff;
}

.contato:hover {
  box-shadow: 0 0 10px 3px rgba(224, 19, 255, 1);
  text-shadow: 0 0 5px rgba(224, 19, 255, 1), 0 0 10px rgba(224, 19, 255, 1);
}

/* Estilo do botão Binance */
.Binance {
  font-size: 1.37rem;
  background-color: rgba(224, 19, 255, 0.76);
  color: white;
  font-weight: bold;
}

.Binance:hover {
  background-color: rgba(224, 19, 255, 1);
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Quando o hambúrguer está ativo */
.hamburger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


/* Responsividade */

 @media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 1rem;
    border-radius: 5px;
    z-index: 20;
  }

  .menu.active {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .hamburger {
    display: flex;
  }
} 

.text-purple{
  font-size: 1.5rem;
  padding: 0 1rem;
  margin-top: 3rem;
}

.text-introduction {
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: justify;
  padding: 0 1rem; 
  line-height: 1.4;
}
/*vídeo background*/

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

/*box texto em tempo real */

.real-time-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  height: 28vh;
  background-image: linear-gradient(
    45deg,
    rgba(128, 0, 128, 0.581),
    rgba(122, 6, 246, 0.603),
    rgba(236, 8, 160, 0.504)
  );
  background-size: cover;
}

.real-time-all h1 {
    font-weight: 400;
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
    text-align: center; 
  color: #fff;
}
/*Dúvidas*/

.box-duvidas {
  justify-content: center;
  padding-top: 20rem;
  display: grid;
  align-items: center;
}

div h1 {
  padding: 4rem;
  position: absolute;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Montserrat";
  margin: 10rem -10rem 49rem 68rem;
  width: 30rem;
  display: flex;
}

.box-caixas {
  margin-top: -51rem;
  padding: 73rem;
  grid-column: auto;
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box-caixas div {
  border-color: #ac08f8 rgba(49, 26, 22, 0.268);
  border-style: solid;
  padding: 1rem;
  display: flex;
  background-color: rgba(74, 72, 70, 0.524);
  width: 21rem;
  height: 20rem;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
}

.box-caixas div p {
  margin-top: 1rem;
  text-align: start;
  font-size: 1rem;
  margin: 1rem;
}

.box-caixas div h3 {
  font-size: 1.3rem;
  text-align: start;
  padding-top: 3rem;
  margin: 0px 1rem;
}

/*Sobre a Purple Coin*/

.about-purple {
  padding: 4rem;
  display: flex;
  margin-top: -63rem;
  align-items: center;
  flex-direction: column;
  background-color: #37064e;
  height: 50rem;
  width: 100%;
}

.about-purple h1 {
  display: flex;
  width: 100%;
  padding: 1rem;
  margin-left: -9rem;
  margin-top: -4rem;
  font-size: 2.6rem;
  text-align: center;
}
.about-purple p {
  padding: 0;
  margin-top: 6rem;
  margin-left: -1rem;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
}

.about-purple img {
  position: absolute;
  display: flex;
  width: 30rem;
  height: 30rem;
  margin-top: 35.4rem;
  margin-left: 0rem;
}
 

.btn-about {
  padding: 1.2rem;
  border-radius: 80px;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-left: -9.4rem;
  margin-top: 24rem;
  border-style: none;
  background-color: #fff;
  width: 19rem;
  height: 9;
  cursor: pointer;
}

.btn-about:hover {
  background-color: purple;
  color: #fff;
}

/*footer*/

.footer-all {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-family: "Montserrat";
  font-size: 4rem;
  margin-left: -40rem;
  margin-top: -33rem;
}

.logotipo-footer {
  display: flex;
  width: 10rem;
  transform: translateX(-50%);
  margin-top: 32rem;
  margin-left: 43rem;
  cursor: pointer;
}

.procuct {
  display: flex;
  flex-direction: column;
  margin-left: 39rem;
  margin-top: 38rem;
  position: absolute;
  font-size: 2.3rem;
  font-weight: 500;

  & a {
    display: none;
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Faz com que o link herde a cor do texto do elemento pai */
    padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: 300;
  }
}

.Listing {
  display: flex;
  flex-direction: column;
  margin-left: 40rem;
  margin-top: 42rem;
  position: absolute;
  font-size: 2.3rem;
  font-weight: 500;

  & a {
    display: none;
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Faz com que o link herde a cor do texto do elemento pai */
    padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: 300;
  }
}

.community {
  display: flex;
  flex-direction: column;
  margin-left: 40rem;
  margin-top: 46rem;
  position: absolute;
  font-size: 2.3rem;
  font-weight: 500;

  & a {
    display: none;
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Faz com que o link herde a cor do texto do elemento pai */
    padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: 300;
  }
}

.footer-all::before {
  display: block;
  background-color: rgb(12, 7, 12);
  content: "";
  position: absolute;
  margin-top: 40rem;
  margin-left: 40rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca o fundo atrás do texto */
  opacity: 1; /* Ajusta a opacidade do fundo */

  & img {
    margin-left: 6rem;
  }
}

/*MEDIA QUERIES*/


@media (min-width: 700px) {
  
  .text-introduction {
    margin-top: 2.25rem;
    font-size: 0.95rem;
  
  }
 
}
@media (min-width: 1080px) {
  .text-purple{
    margin: 1.55rem;
    font-size: 2rem;

  }
  
  .text-introduction {

    text-align: justify;
    font-size: 1.20rem;
    margin: 1.55rem;

  }
}

/*faixa texto*/

@media (min-width: 1080px) {
  .real-time-all h1 {
    display: flex;
    justify-content: center;
    font-size: 1.60rem;
    white-space: nowrap;
    font-size: 2rem; 
  }
}

